#header
{
	text-align: center;
	padding-top: 3px;
	border-bottom: 1px solid #DBDEDE;
	width: 100%;
}
BODY
{
	font-family: Tahoma;
}
#page-wrap {
     width: 1024px;
     margin: 0 auto;
}
/*IMG.menu_buttons
{
	height: 24px;
	width: 24px;
	margin-right: 4px;
}*/
img.menu_buttons
{
    height: 24px;
	width: 24px;
    margin-right: 4px;
}
/*IMG.menu_buttons:active
{
    background-color: lightgray;
}*/

.menu_buttons1
{
    background-color: #ffffff; /* Green */
    border: none;
    color: black;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
  /*  -webkit-transition-duration: 0.4s; /* Safari */
 /*   transition-duration: 0.4s; */
    cursor: pointer;
}

.menu_buttons1:hover
{
    background-color: #ffffff; /* Green */
    color: darkgray;
}

.menu_buttons1:active
{
    background-color: gray; /* Green */
    color: white;
}

IMG.soundq
{
  	height: 24px;
	width: 48px;
}
IMG.flag
{
  	height: 24px;
	width: 24px;
    /*float: left;*/
    margin-right:5px;
}
#load_button
{
	padding: 10px 25px 3px 25px;
	display: inline;
    border: 1px solid white;
}
#post_button
{
	padding: 10px 25px 3px 25px;
	display: inline;
    border: 1px solid white;
    opacity: 0.3;
    pointer-events: none;
}
#MENU
{
	width: 100%;
	text-align: center;
	border-bottom: 1px solid #DBDEDE;
    padding: 10px 0px 10px 0px;
}
#info1, #info2
{
	margin-top: 10px;
    padding-right: 20px;
	/*+placement:float-left 0px 0px;*/
	float: left;
	position: relative;
	left: 0px;
	top: 0px;
    text-align: center;
    width: 200px;
    max-width:300px;

}
#info1 P, #info2 P
{
	font-weight: bold;
	font-size: 16pt;
    padding: 10px;
}
#gauges1, #gauges2
{
	margin-top: 10px;
    margin-left: 5px;
    margin-right: 5px;
	/*+placement:float-left 0px 0px;*/
	float: left;
	position: relative;
	left: 0px;
	top: 0px;

}

.visualizer
{
	visibility: hidden;
}
/*#gauges2
{
	/*margin-top: 20px;*/
	/*+placement:float-left 0px 0px;
	float: left;
	position: relative;
	left: 0px;
	top: 0px;
}*/
#gauges3
{
	margin-top: 20px;
	/*+placement:float-left 0px 0px;*/
    margin-left: 5px;
    margin-right: 5px;
	float: left;
	position: relative;
	left: 0px;
	top: 0px;
}
#gauges4
{
	margin-top: 20px;
	/*+placement:float-left 0px 0px;*/
    margin-left: 5px;
    margin-right: 5px;
	float: left;
	position: relative;
	left: 0px;
	top: 0px;
}
#container
{
    float: left;
}
#heading
{
    float: left;
    overflow: hidden;
    display: inline-block;
}
#filebox
{
    float: left;
    display: inline-block;
}
#messages
{
    float: left;
    overflow: hidden;
    height: 20%;
    font-size: 9px;
}
#canvas
{
    float: left;
    overflow: hidden;
    height: 20%;
    font-size: 10px;
}
#controls
{
    float: left;
    display: inline-block;
}
#content
{
	width: 100%;
    float: left;
    margin-top: 0px;
    padding-bottom: 30px;
	display: grid;
	grid-template-columns: 1fr 1fr;
  	grid-template-rows: auto;

}
#customer
{
	width: 100%;
    float: left;
    padding-bottom: 20px;
    max-width: 1024px;
}
#diarization-container
{
	width: 100%;
    float: left;
    max-width: 1024px;
}
#diarization
{
    width: 100%;
    float: left;
    max-width: 1024px;
}
#diarization-label
{
    float: bottom;
    text-align: center;
    padding-bottom:10px;
    font-size: 19;
}
#agent
{
	width: 100%;
    float: left;
    max-width: 1024px;
    margin-top: -30;
}
.item
{
    float: left;
}
.label
{
    float: top;
    text-align: left;
    margin-left: 50px;
}
#emotions1, #emotions2
{
	/*+placement:float-left 0px 0px;*/
	float: left;
	position: relative;
	left: 0px;
	top: 0px;
	width: auto;
}
#behaviors1, #behaviors2
{
	/*+placement:float-left 0px 0px;*/
	float: left;
	position: relative;
	left: 0px;
	top: 0px;
	width: auto;
}
#vad1, #vad2
{
	/*+placement:float-left 0px 0px;*/
	float: left;
	position: relative;
	left: 0px;
	top: 0px;
	width: auto;
	padding: 10px;
	text-align: center;
}
#vad1 P, #vad2 P
{
	font-weight: bold;
	font-size: 18pt;
}
#loading-img {
    background: url("media/716.gif") center center no-repeat;
    height: 100%;
    z-index: 30;
}

#loading-text {
    position: relative;
    text-align: center;
    top: 200px;
    font-size: 25px;
}

#hostname {
	width: 20em;
	margin-right: 1em;
}

.overlay {
    background: #898989;
    position: absolute;
    opacity: 0;
    display: none;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    opacity: 0.7;
    z-index: 20;
}

form {
    margin-bottom: 0px;
}
